Source: iptux
Section: net
Priority: optional
Maintainer: LI Daobing <lidaobing@debian.org>
Uploaders: Zhengpeng Hou <zhengpeng-hou@ubuntu.com>
Build-Depends: debhelper (>= 5), dpatch, autotools-dev, libgtk2.0-dev,
 libgconf2-dev, libgstreamer0.10-dev
Standards-Version: 3.8.3
Homepage: http://code.google.com/p/iptux/
Vcs-Browser: https://code.launchpad.net/~lidaobing/+junk/iptux
Vcs-Bzr: lp:~lidaobing/+junk/iptux

Package: iptux
Architecture: any
Depends: ${shlibs:Depends}
Description: an intranet communication tool for Linux
 iptux is an IP Messenger client for Linux.
 . 
 It support:
  - auto detect other clients in the intranet.
  - send message to other clients.
  - send file to other clients.
