Source: iptux
Section: net
Priority: optional
Maintainer: LI Daobing <lidaobing@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev, libgtk2.0-dev, autoconf, automake
Standards-Version: 3.8.0
Homepage: http://code.google.com/p/iptux/
Format: 3.0 (quilt)

Package: iptux
Architecture: any
Depends: ${shlibs:Depends}
Description: IP Messenger client for Linux
 iptux is an IP Messenger client for Linux.
 . 
 It support:
  - auto detect other clients in the intranet.
  - send message to other clients.
  - send file to other clients.
